Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
psycopg2-binary==2.9.9
Werkzeug==3.0.3
reportlab==4.4.3
fpdf2==2.8.4
schedule==1.2.2
gunicorn==23.0.0
email-validator==2.1.1
SQLAlchemy==2.0.30