
email-validator>=2.2.0
flask-bcrypt>=1.0.1
flask>=3.1.1
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.10
werkzeug>=3.1.3
sqlalchemy>=2.0.43
flask-jwt-extended>=4.7.1
reportlab>=4.4.3
fpdf2>=2.8.4
schedule>=1.2.2
